---
import Layout from '../layouts/Layout.astro';
---

<Layout title="404 - Page Not Found">
  <div class="container">
    <div class="row">
      <div class="col col-12">
        <div class="error">
          <h2 class="error__title">404</h2>
          <p class="error__text">The requested page could not be found.</p>
          <a class="button" href="/">Back to homepage</a>
        </div>
      </div>
    </div>
  </div>
</Layout>

<style>
  .error {
    text-align: center;
    padding: 100px 0;
  }
  .error__title {
    font-size: 120px;
    margin-bottom: 20px;
  }
  .error__text {
    font-size: 24px;
    margin-bottom: 40px;
  }
</style>
