---
import { getCollection } from 'astro:content';
import ArticleCard from './ArticleCard.astro';

const featuredPosts = (await getCollection('posts', ({ data }) => {
  return data.featured === true;
})).sort((a, b) => new Date(b.data.date).getTime() - new Date(a.data.date).getTime()).slice(0, 3);
---

{featuredPosts.length > 0 && (
  <section class="section featured-post animate">
    <div class="container">
      <div class="row">
        {featuredPosts.map((post, index) => (
          <ArticleCard post={post} index={index} isHero={index === 0} isHome={true} />
        ))}
      </div>
    </div>
  </section>
)}
