---
import { settings } from '../data/settings';

const { hero } = settings;
---

{hero.enable && (
  <section class="hero">
    <div class="container">
      <div class="row">
        <div class="col col-12">
          <div class="hero__inner">
            {hero.title && <h1 class="hero__title">{hero.title}</h1>}
            {hero.description && <p class="hero__description">{hero.description}</p>}
          </div>
        </div>
      </div>
    </div>
  </section>
)}
