<!DOCTYPE html>
<html lang="en">

{% include head.html %}

<body>

  {% if site.data.settings.google-analytics %}
    {% include google-analytics.html %}
  {% endif %}

  <!-- begin global wrap -->
  <div class="global-wrap">

    {% if site.data.settings.hero.hero__image and page.url == '/' %}
    <!-- begin hero image -->
    <div class="hero__image">
      <div class="hero__image__inner">
        <img class="lazy" data-src="{{site.data.settings.hero.hero__image}}" alt="{{site.data.settings.title}}">
      </div>
    </div>
    <!-- end hero image -->
    {% endif %}
  
    {% include header.html %}

    {% comment %} Ad Logic Start {% endcomment %}
    {% if page.layout == 'default' and page.url == '/' %}
      {% assign ad_context = 'homepage' %}
    {% else %}
      {% assign ad_context = 'blog' %}
    {% endif %}
    <div class="container">
      {% if page.layout != 'post' %}
        {% include ad-unit.html location='header_ad' context=ad_context %}
      {% endif %}
    </div>
    {% comment %} Ad Logic End {% endcomment %}
  
    <!-- begin content -->
    <main class="content" aria-label="Content">
      {{ content }}
    </main>
    <!-- end content -->
  
    {% comment %} Ad Logic Start {% endcomment %}
    <div class="container">
        {% include ad-unit.html location='footer_ad' context=ad_context %}
    </div>
    {% comment %} Ad Logic End {% endcomment %}

    {% include subscribe.html %}
  
    {% include footer.html %}

  </div>
  <!-- end global wrap -->

  <script src="{{ site.baseurl }}/js/scripts.js"></script>
  <script src="{{ site.baseurl }}/js/common.js"></script>
</body>

</html>